html {
	overflow-y: scroll;
}
body {
	max-width: 800px;
	margin: 40px auto;
	padding: 0 10px;
	font: 14px/1.5 monospace;
	color: rgb(24, 24, 24);
}
h1,
h2,
h3 {
	line-height: 1.2;
}

body {
	color: black;
	background: rgb(255, 255, 255);
}
a:link {
	color: rgb(108, 0, 231);
}
a:visited {
	color: rgb(97, 1, 206);
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: rgb(24, 24, 24);
	}
	a:link {
		color: rgb(255, 157, 29);
	}
	a:visited {
		color: rgb(250, 180, 87);
	}
}
p > code {
	color: #ffffff;
	background: #000000;
	padding: 2px;
}
pre {
	color: #ffffff;
	background: #000000;
	padding: 24px;
	overflow-x: auto;
}
article {
	padding: 24px 0;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 16px;
}
figcaption {
	color: #888;
	font: 12px/1.5 monospace;
	text-align: center;
}
figure {
	margin: auto;
}
